:root{
    /* --baseLang:"fr"; */
}
/* [ lang ]:not([ lang="fr" ]) {
    display:none;
} */
/* body[ data-js-disabled="true" ]  */
body[ data-js-disabled="true" ] {
    
    > input[ value="fr" ]:checked {
        ~ [ lang="fr" ],
        ~ * [ lang="fr" ] {
            display:block;
        }
    }
    
    > input[ value="en" ]:checked {
        ~ [ lang="en" ] ,
        ~ * [ lang="en" ] {
            display:block;
        }
    }
}
[ lang ], 
[ name="selectLang" ] {
    display: none;
}
#changeLang {
    display: none;
}
[ name="selectLang" ] + label {
    visibility: hidden;
}
#changeLang + label {
    margin-left:8px;
}
#changeLang:checked ~ [ name="selectLang" ] + label {
    visibility: visible;
}
[ name="selectLang" ] + label,
#changeLang + label {
    margin-top:8px;
}
[ name="selectLang" ]:checked + label {
    text-decoration: underline;
}
