:root{
    --color1:#fff;
    --color2:purple;
}

// A Styles
// A - 1 - Languages
[ lang ] {
    display: none;
}
body[ data-lang ] {
    > input,
    > label {
        display: none;
    }
}
body[ data-lang = "fr" ] {
    // background-color: red;    
    [ lang = "fr" ] {
        display: block;
    }
}

// B Javascript disabled elements
// B - 1 - Languages
#changeLang,
#changeLang + label,
input[ name = "selectLang" ],
[ name = "selectLang" ] + label {
    display: none;
}

body[ data-js-disabled ] {
    [ name = "selectLang" ] + label {
        display:block;
        visibility: hidden;
    }
    #changeLang {
        + label {
            display: block;
        }
        &:checked {
            ~ [ name = "selectLang" ] + label {
                visibility: visible;
            }
        } 
    } 
    input[ value = "fr" ]:checked {
        ~ [ lang = "fr" ],
        ~ * [ lang = "fr" ] {
            display: block;
        }
    }
    input[ value = "en" ]:checked {
        ~ [ lang = "en" ] ,
        ~ * [ lang = "en" ] {
            display: block;
        }
    }
}